*{
    padding: 0;
    margin: 0;
}

.blog{
    background-color:#f0f0f0;
    padding-top: 20px;
}

/* 清除浮动 */
.clearFix::before,
.clearFix::after{
    content: '';
    display: block;
    clear: both;
}

/* 上方 */
.banner{
    margin: 0px 5% 30px;
}

/* 轮播图 */
.banner-left{
    float: left;
    max-width: 50vw;
}

/* 上方右边 */
.right-box{
    float: right;
    height: 30vh;
    width: 35vw;
    border: solid 1px gray;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.right-box>span{
    color:#ff6600;
    text-align: center;
}

.list{
    list-style: none;
    line-height: 23px;
    max-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap; 
    color: black;
}

.list:hover{
    color: #1487f4;
}

/* 内容区 */
.content{
    height: 30vh;
    margin: 0 5% 30px;
    border: solid 1px gray;
    overflow: hidden;
    position: relative;
}

.content button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color:#f0f0f0;
    border: none;
    color: #1487f4;
    cursor: pointer;
}

.category{
    padding-left: 10px;
    line-height: 5vh;
    height: 5vh;
    margin-bottom: 10px;
    border-bottom: solid 1px gray;
    overflow: hidden;
}

/* 分类中的博客 */
.category-blog{
    margin:auto 20px;
}

.item-blog{
    display: flex;
    justify-content: space-evenly;
}

.item-blog img{
    width: 8vw;
    height: 80%;
}

.blog-detail{
    width: 8vw;
    height: 20vh;
    margin:18px auto 0;
    overflow: hidden;
}

.blog-detail p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

.blog-detail img{
    transition: 0.4s;
}

.blog-detail img:hover{
    transform: scale(1.05);
}

.blog-detail p:hover{
    color: #1487f4;
}