.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

.list-cate{
    align-self: flex-start;
}

.list-back{
    background-color: #f0f0f0;
    border: none;
    color: #ff6600;
    outline: none;
    cursor: pointer;
    margin-left: 5vmin;
}

.list-blog {
    margin-bottom: 10px;
    height: 10vh;
    font-size: 20px;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

.list-blog img {
    width: 5vw;
    height: 9vh;
    transition: 0.4s;
}

.list-blog img:hover {
    transform: scale(1.1);
}

/* 文字部分 */
.list-text {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-title {
    width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    color: black;
}

.list-content {
    width: 50vw;
    height: 50px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #999aaa;
}

.list-title:hover,
.list-content:hover{
    color: #1487f4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}